<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/main.css">

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <title>Okoa Refugee</title>
</head>

<body>


    <!-- the navigation bar  -->

    <nav class="navbar navbar-expand-lg navbar-light  p-4" style="background-color: darkblue;">
        <div class="container">
            <a class="navbar-brand text-white" href="/homepage">Okoa Camp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="admin">
                <div class="navbar-nav">


                    <div class="container">

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary">
                                    Admin Logged In :<span class="badge badge-light"><%= locals.name %></span>
                                    <span class="sr-only">unread messages</span>
                                </button>

                            </div>

                            <div class="col-sm-6">
                                <div class="alert alert-info mx-auto" id="time" role="alert">
                                    <p class="text-muted"><a href="#" id="txt" class="alert-link"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </nav>
    <!-- end of navigation bar -->



    <!--  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
    <script type="text/javascript">

        window.onload = () => {
            startTime()
        }

        const days = {
            0: "Sunday",
            1: "Monday",
            2: "Tuesday",
            3: "Wednesday",
            4: "Thursday",
            5: "Friday",
            6: "Saturday"
        }

        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            var n = today.getDay();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = "    " + days[n] + " " + h + ":" + m + ":" + s;
            var t = setTimeout(function () { startTime() }, 500);
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

    </script>