<!DOCTYPE html>
<%- include('admin-refugee-header'); %>


<!-- ==========================the main content area============================ -->
<div class="container">
  <form class="my-4 py-4" action="/admit/refugee" method="POST">

    <!-- ========NAME GROUP============= -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4 " class="text-white-50">FIRST NAME</label>
        <input type="text" class="form-control" id="inputEmail4" name="FirstName">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4 " class="text-white-50">MIDDLE NAME</label>
        <input type="text" class="form-control" id="inputPassword4" name="MiddleName">
      </div>

      <div class="form-group col-md-4">
        <label for="inputPassword4 " class="text-white-50">LAST NAME</label>
        <input type="text" class="form-control" id="inputPassword4" name="LastName">
      </div>
    </div>
    <!-- ========NAME GROUP============= -->

    <!-- =====sex,age, marital status======== -->
    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputEmail4 " class="text-white-50">SEX</label>
        <!-- <input type="email" class="form-control" id="inputEmail4"> -->
        <select id="inputState" class="form-control" name="Sex">
          <option selected>Choose...</option>
          <option value="male">MALE</option>
          <option value="female">FEMALE</option>
          <!-- <option>DIVORCED</option> -->
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4 " class="text-white-50">AGE</label>
        <input type="text" class="form-control" id="inputEmail4" name="Age">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4 " class="text-white-50">MARITAL STATUS</label>
        <select id="inputState" class="form-control" name="MaritalStatus">
          <option selected>Choose...</option>
          <option value="single">SINGLE</option>
          <option value="married">MARRIED</option>
          <option value="divorced">DIVORCED</option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="inputEmail4 " class="text-white-50">Person With Diasbility</label>
        <!-- <input type="email" class="form-control" id="inputEmail4"> -->
        <select id="inputState" class="form-control" name="disable">
          <option selected>Choose...</option>
          <option value="male">yes</option>
          <option value="female">no</option>
          <!-- <option>DIVORCED</option> -->
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4 " class="text-white-50">Reason for displacement</label>
        <select id="inputState" class="form-control" name="reasonfordisplacement">
          <option selected>Choose...</option>
          <option value="Internally displaced">Internally displaced</option>
          <option value="Born at camp">Born at camp</option>
          <option value="Political instability">Political instability</option>
          <option value="War">War</option>
          <option value="Ethnic conflict">Ethnic conflict</option>
        </select>
      </div>

    </div>

    <!-- =========end sex, age, martial status======= -->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" class="text-white-50">NATIONALITY</label>
        <select id="inputState" class="form-control" name="Nationality">
          <option selected>Choose...</option>
          <option value="KENYA">🇰🇪</option>
          <option value="UGANDA">🇺🇬</option>
          <option value="TANZANIA">🇹🇿</option>
          <option value="SOUTHSUDAN">🇸🇸</option>
          <option value="SOMALIA">🇸🇴</option>

        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="inputCity" class="text-white-50">ASSIGN TENT</label>
        <select id="inputState" class="form-control" name="Tent">
          <option selected>Choose...</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary mx-auto mt-3">Register</button>
  </form>
</div>
<!-- ==================end of main content area================================= -->

<!-- modal for signing in as admin -->

<div class="modal" tabindex="-1" id="LOGIN">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">EMPLOYEE LOGIN FORM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- login form for admin -->
        <form action="/admin/login" method="POST">


          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- end of login form for admin -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- end of modal for signing in as admin -->










<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>

</html>